<html>
    <head>
        <title>No one else's blog but ATHY's! blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Umm So YEAH This Is My Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My nonexistent first post</a></h2>
            <p>Nope, I seriously have no idea what I'm doing</p>
            <strong>published on a date I don't even care about</strong>
        </div>

        <div>
            <h2><a href="">My second po- wait a minute that's too boring, right?</a></h2>
            <p>YA so hi there..........</p>
            <strong>published on another date I don't even care about</strong>
        </div>
    </body>
</html>
